@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.gameTitle {
  text-align: center;
}
.gameboardContainer {
  display: flex;
  flex-direction: row;
  gap: 30%;
}
.p1gameboardGrid {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  width: 30vw;
  background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
  border-radius: 3px;
  border: 3px solid blue;
}
.p2gameboardGrid {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  width: 30vw;
  margin-left: auto;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

  border: 3px solid blue;
}
.cell {
  border: 1px solid darkgrey;
  height: 40px;
  border-radius: 5px;
}
.missCell {
  background-image: url(./letterX.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
.hitCell {
  background-image: url(./hitX.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  background-color: black;
}
.shipCell {
  border: 2px solid red;
}
.winnerDiv {
  text-align: center;
  font-size: 2rem;
}
